@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,900;1,700&family=Play:wght@400;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 3.75vmin;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "play", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #F5F5F5;
  height: 100%;
  min-height: 36.1111111111rem;
  color: #292929;
  position: relative;
}
@media screen and (max-width: 768PX) {
  .hero:after {
    display: none;
  }
}
.hero::before {
  position: absolute;
  bottom: -1.6666666667rem;
  right: 8%;
  content: url("../img/Rectangle1.svg");
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768PX) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 17.9444444444rem;
    height: 17.9444444444rem;
    background: url("../img/phones768.svg") center center/contain no-repeat;
    margin-bottom: 3.5555555556rem;
  }
}
@media screen and (max-width: 768PX) and (max-width: 480px) {
  .hero__title-section:before {
    margin-bottom: 2.8333333333rem;
  }
}

@media screen and (max-width: 768PX) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.1111111111rem 0 2.5rem 0;
  background: url("../img/phones.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768PX) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.1111111111rem;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
}
@media screen and (max-width: 768PX) {
  .hero__main-title {
    padding: 0% 5%;
    margin-bottom: 0.2777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 1.7777777778rem;
    padding: 0% 10%;
    margin-bottom: 0.8333333333rem;
  }
}

.hero__title-desc {
  font-family: "Alegreya Sans";
  margin-bottom: 1.8333333333rem;
  font-size: 1.1666666667rem;
  padding-right: 22%;
}
@media screen and (max-width: 768PX) {
  .hero__title-desc {
    font-family: "Alegreya Sans";
    font-size: 1.1666666667rem;
    padding: 0% 25%;
    margin-bottom: 1.2777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-family: "Alegreya Sans";
    font-size: 1rem;
    padding: 0% 3%;
    margin-bottom: 1.1111111111rem;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 10px;
}
@media screen and (max-width: 768PX) {
  .menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #313131;
    margin: 0;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }
  .menu--active {
    left: 0;
    opacity: 1;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768PX) {
  .header__phone-number {
    display: none !important;
  }
}

.menu__item {
  font-size: 1rem;
  margin-right: 0.8888888889rem;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 768PX) {
  .menu__item {
    font-size: 2rem;
    line-height: 4rem;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768PX) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
.menu__link:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 1rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.9444444444rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.2777777778rem;
}

.feature__icon-elem {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.9444444444rem;
}

.button {
  display: inline-block;
  font-weight: bold;
  padding: 1.1111111111rem 2.2222222222rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  border: none;
}
@media screen and (max-width: 768PX) {
  .button {
    padding: 1.2777777778rem 2.5555555556rem;
  }
}
@media screen and (max-width: 768PX) {
  .button {
    padding: 1.3888888889rem 2.6666666667rem;
  }
}

.button--theme--red {
  background: #E01F3D;
  color: #FFFFFF;
}
@media screen and (max-width: 768PX) {
  .button--theme--red {
    font-size: 0.8888888889rem;
    padding: 1.1666666667rem 2.2777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .button--theme--red {
    font-size: 1.0555555556rem;
    padding: 1.1666666667rem 2rem;
  }
}
.button--theme--red:hover {
  background: #CA1B36;
}

.button--theme--red--product {
  background: #E01F3D;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .button--theme--red--product {
    font-size: 0.8888888889rem;
    padding: 1.2222222222rem 2.3333333333rem;
  }
}
.button--theme--red--product:hover {
  background: #CA1B36;
}

.button--theme--red--form {
  margin-right: 0.1111111111rem;
  padding: 1.1666666667rem 2.2777777778rem;
  background: #E01F3D;
  color: #FFFFFF;
}
.button--theme--red--form:hover {
  background: #CA1B36;
}
@media screen and (max-width: 768PX) {
  .button--theme--red--form {
    font-size: 0.8888888889rem;
    padding: 1.1666666667rem 2.2777777778rem;
    margin-right: 1.4444444444rem;
  }
}

.button--theme--transparent {
  padding-left: 0.1111111111rem;
  background: transparent;
  text-transform: none;
  color: #FFFFFF;
}
@media screen and (max-width: 768PX) {
  .button--theme--transparent {
    font-size: 0.8888888889rem;
    font-weight: normal;
  }
}
.button--theme--transparent:hover {
  color: #E01F3D;
}

.section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__title {
  text-transform: uppercase;
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 1.7777777778rem;
  }
}

.benefits-section__main-title {
  margin-bottom: 0.7222222222rem;
}
@media screen and (max-width: 768PX) {
  .benefits-section__main-title {
    margin-bottom: 0.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section__main-title {
    margin-bottom: 0.5555555556rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 3.4444444444rem;
}
@media screen and (max-width: 768PX) {
  .headline {
    margin-bottom: 3.0555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .headline {
    margin-bottom: 2.1666666667rem;
  }
}

.headline__subtitle {
  padding: 0 20%;
  font-size: 0.8888888889rem;
  color: #666666;
}
@media screen and (max-width: 768PX) {
  .headline__subtitle {
    padding: 0% 10%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0;
    max-width: 436px;
    margin: 0 auto;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    margin-bottom: 0rem;
    padding: 0;
  }
}
.benefits__item::before {
  content: url("../img/decor1.svg");
  position: absolute;
  top: 3.1666666667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    content: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

@media screen and (max-width: 768PX) {
  .benefits-section__container {
    width: 98%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section__container {
    width: 95%;
  }
}

.benefit {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefit__image {
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768PX) {
  .benefit__image {
    margin-bottom: 1.2222222222rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-right: 0.6666666667rem;
    top: 0.7222222222rem;
  }
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__desc {
  font-size: 0.8888888889rem;
  color: #666666;
  padding: 0 5%;
}
@media screen and (max-width: 768PX) {
  .benefit__desc {
    padding: 0 0%;
  }
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    padding: 0 0%;
    text-align: left;
  }
}

.benefit__title {
  font-size: 1.3333333333rem;
  font-weight: bold;
  margin-bottom: 0.3888888889rem;
}
@media screen and (max-width: 768PX) {
  .benefit__title {
    white-space: nowrap;
    margin-bottom: 0.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__title {
    text-align: left;
    margin-bottom: 0.2222222222rem;
  }
}

.benefits-section {
  background: url("../img/decor2.svg") left bottom no-repeat;
}

.reviews {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.0555555556rem 7.7777777778rem 1.8888888889rem 2.2222222222rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.2222222222rem;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.6111111111rem;
}
@media screen and (max-width: 768PX) {
  .reviews__display {
    margin-bottom: 1.9444444444rem;
    padding: 3.1666666667rem 1.1111111111rem 2.3888888889rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display {
    padding: 3.1666666667rem 1.1111111111rem 2rem 1rem;
  }
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}
.reviews__display-inner--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768PX) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768PX) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    margin-bottom: 1rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  padding-top: 1.6666666667rem;
  margin-left: 2.1666666667rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768PX) {
  .reviews__content {
    padding-top: 0;
    text-align: center;
    margin-left: 0;
  }
}

.reviews__main-title {
  margin-bottom: 1.6666666667rem;
}
@media screen and (max-width: 480px) {
  .reviews__main-title {
    font-size: 32px;
  }
}

.reviews__title {
  font-size: 1.3333333333rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768PX) {
  .reviews__title {
    margin-bottom: 0.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__title {
    margin-bottom: 0.5555555556rem;
  }
}

.reviews__text {
  font-size: 0.8888888889rem;
  color: #666666;
  margin-bottom: 1.2222222222rem;
}
@media screen and (max-width: 768PX) {
  .reviews__text {
    padding: 0%;
    margin-bottom: 0.8888888889rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    padding: 0%;
    margin-bottom: 0.7222222222rem;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar:hover {
  border-color: #E01F3C;
}
.interactive-avatar--active {
  border-color: #E01F3C;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768PX) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    max-width: 466px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768PX) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.7777777778rem;
}
@media screen and (max-width: 768PX) {
  .form__row {
    margin-bottom: 0.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .form__row {
    margin-bottom: 0.8888888889rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  font-size: 0.7777777778rem;
  border-radius: 0.2222222222rem;
  width: 100%;
  border: none;
  padding: 0.9444444444rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
}
.form__input .input-error {
  border-color: #E01F3D;
}
@media screen and (max-width: 768PX) {
  .form__input {
    padding: 0.3333333333rem 0.3888888889rem;
  }
}
.form__input--textarea {
  font-size: 0.7777777778rem;
  padding: 0.2777777778rem 0.6666666667rem;
  height: 8rem;
  resize: none;
  margin-bottom: 2.2222222222rem;
}
@media screen and (max-width: 768PX) {
  .form__input--textarea {
    height: 4.5555555556rem;
    margin-bottom: 1.1111111111rem;
  }
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.form__buttons {
  margin-left: -0.7777777778rem;
  margin-top: 1.5555555556rem;
}
@media screen and (max-width: 768PX) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 2.9444444444rem;
    margin-top: 0.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .form__buttons {
    margin-left: 3.3333333333rem;
    margin-top: 0.5555555556rem;
  }
}

.order-section {
  background: url("../img/background-form.png") center center/cover no-repeat;
}

.form__title {
  font-size: 0.8888888889rem;
  color: #FFFFFF;
}

.section__title-order {
  margin-bottom: 3.2222222222rem;
  color: #ffffff;
}
@media screen and (max-width: 768PX) {
  .section__title-order {
    margin-bottom: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title-order {
    font-size: 1.7777777778rem;
    margin-bottom: 2.0555555556rem;
  }
}

.form__title {
  margin-bottom: 0.2777777778rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.8888888889rem;
  margin-bottom: 1.0555555556rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
  margin-right: 0.5555555556rem;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/checked.svg") center center no-repeat;
}
@media screen and (max-width: 768PX) {
  .radio {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0.9444444444rem;
    margin-bottom: 1.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.radio__title {
  font-size: 0.8888888889rem;
  color: #FFFFFF;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  margin-right: 0.5555555556rem;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768PX) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #ff0000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #757575;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 24px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768PX) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    z-index: 1;
  }
  .hamburger--active .hamburger__plank {
    background: #ffffff;
  }
  .hamburger--active .hamburger__plank:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(7px, 5px);
            transform: rotate(45deg) translate(7px, 5px);
  }
  .hamburger--active .hamburger__plank:nth-child(2) {
    -webkit-transform: rotate(-45deg) translate(0px, 1px);
            transform: rotate(-45deg) translate(0px, 1px);
  }
  .hamburger--active .hamburger__plank:nth-child(3) {
    opacity: 0;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
  -webkit-transition: background-color 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, opacity 0.3s, transform 0.3s;
  transition: background-color 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #FFFFFF;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768PX) {
  .phone-number__text {
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .phone-number__text {
    font-size: 0.8888888889rem;
    color: #292929;
  }
}

@media screen and (max-width: 768PX) {
  .phone-number__icon-elem {
    fill: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .phone-number__icon-elem {
    fill: black;
  }
}

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}
@media screen and (max-width: 768PX) {
  .social {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@media screen and (max-width: 480px) {
  .social {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
}

@media screen and (max-width: 480px) {
  .footer__phone-number {
    font-size: 0.8888888889rem;
  }
}

.social__item {
  margin-right: 0.6111111111rem;
}

.social_item--icon--vk .social__link {
  text-align: center;
  width: 1.6666666667rem;
  height: 1.6666666667rem;
  float: left;
  border-radius: 24px;
}

.social_item--icon--fb .social__link {
  text-align: center;
  width: 1.6666666667rem;
  height: 1.6666666667rem;
  float: left;
  border-radius: 24px;
}

.social_item--icon--inst .social__link {
  text-align: center;
  width: 1.6666666667rem;
  height: 1.6666666667rem;
  float: left;
  border-radius: 1.3333333333rem;
}

.social_item--icon--tg .social__link {
  text-align: center;
  width: 1.6666666667rem;
  height: 1.6666666667rem;
  float: left;
  border-radius: 24px;
}

#map {
  width: 100%;
  height: 100%;
}

.contacts__place {
  font-size: 1rem;
}
@media screen and (max-width: 768PX) {
  .contacts__place {
    font-size: 1.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .contacts__place {
    font-size: 1rem;
  }
}

.social__link--icon--elem {
  width: 1.6666666667rem;
  height: 30px;
}
@media screen and (max-width: 768PX) {
  .social__link--icon--elem {
    width: 1.7777777778rem;
    height: 1.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .social__link--icon--elem {
    width: 1.3333333333rem;
    height: 1.3333333333rem;
  }
}

.contacts {
  font-style: normal;
  font-size: 1rem;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 1.1111111111rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__slider {
  position: relative;
}

.products__section {
  background: #F8FAF9;
}
.products__section .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768PX) {
  .product__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
}
@media screen and (max-width: 768PX) {
  .product-slider__arrow {
    top: 8.5rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.product-slider__arrow--direction--prev {
  left: -1rem;
}
@media screen and (max-width: 768PX) {
  .product-slider__arrow--direction--prev {
    left: 19%;
  }
}
@media screen and (max-width: 480px) {
  .product-slider__arrow--direction--prev {
    left: 0;
  }
}

.product-slider__arrow--direction--next {
  right: -1.1111111111rem;
}
@media screen and (max-width: 768PX) {
  .product-slider__arrow--direction--next {
    right: 19%;
  }
}
@media screen and (max-width: 480px) {
  .product-slider__arrow--direction--next {
    right: 0;
  }
}

.product {
  padding-left: 1.4444444444rem;
}
@media screen and (max-width: 768PX) {
  .product {
    padding-left: 0;
  }
}

.product__cover {
  width: 25.1111111111rem;
  height: 25.1111111111rem;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  padding: 2.6111111111rem;
  background: #ffffff;
  margin-top: 1.6666666667rem;
  margin-right: 3.4444444444rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768PX) {
  .product__cover {
    width: 17rem;
    height: 17rem;
    margin-right: 0;
    margin-bottom: 1.1666666667rem;
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .product__cover {
    width: 17rem;
    height: 17rem;
    margin-bottom: 0;
  }
}

.product__col-desc {
  width: 50%;
}
@media screen and (max-width: 768PX) {
  .product__col-desc {
    width: 85%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .product__col-desc {
    width: 93%;
  }
}

.product__text {
  font-family: "play";
  font-size: 0.8888888889rem;
  color: #666666;
  margin-bottom: 1.5rem;
  width: 84%;
}
@media screen and (max-width: 768PX) {
  .product__text {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .product__text {
    margin-bottom: 1.5rem;
  }
}

.product__title {
  font-family: "play";
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.3333333333rem;
  padding: 0;
}
@media screen and (max-width: 768PX) {
  .product__title {
    font-size: 1.5555555556rem;
    margin-bottom: 0.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .product__title {
    margin-bottom: 0.5555555556rem;
    text-align: center;
  }
}

.product__specifications {
  margin-bottom: 1.3888888889rem;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 768PX) {
  .product__pic {
    padding: 0% 5%;
  }
}
@media screen and (max-width: 768PX) {
  .product__pic {
    padding: 0;
  }
}

.product__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768PX) {
  .product__values {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .product__values {
    margin-bottom: 1.1111111111rem;
  }
}

.product__value {
  margin-right: 4.7777777778rem;
}
@media screen and (max-width: 768PX) {
  .product__value:last-child {
    margin-right: 0;
  }
}

.product__value-item {
  font-family: "play";
  font-size: 0.8888888889rem;
  color: #666666;
}
@media screen and (max-width: 480px) {
  .product__value-item {
    text-align: left;
  }
}

.product__value-desc {
  font-family: "play";
  font-size: 1rem;
  font-weight: bold;
}
.product__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768PX) {
  .product__prices {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product__price {
  font-family: "play";
  font-size: 2rem;
  margin-right: 1.2222222222rem;
}
@media screen and (max-width: 768PX) {
  .product__price {
    font-size: 2.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .product__price {
    font-size: 1.7777777778rem;
  }
}

.product__specifications-menu {
  position: relative;
}
@media screen and (max-width: 768PX) {
  .product__specifications-menu {
    display: none;
  }
}

.products__dropdown {
  position: absolute;
  top: 0;
  left: -9999px;
  min-width: 16.2777777778rem;
  background: #d6d5d5;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 2%;
  opacity: 0;
  padding: 18px 13px;
}

.products__dropdown-item-icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

.products__dropdown-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 12px;
  margin-bottom: 8px;
}
.products__dropdown-items:last-child {
  margin-bottom: 0;
}

.products__dropdown-item-desc {
  margin-left: auto;
}

.product__specifications:hover .products__dropdown {
  opacity: 1;
  left: 100%;
}

.team__title {
  text-align: center;
  font-family: "play";
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .team__title {
    font-size: 1.7777777778rem;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  min-height: 23.6666666667rem;
}
@media screen and (max-width: 768PX) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: initial;
  }
}

.team__card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
}
.team__card:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768PX) {
  .team__card {
    width: 100%;
    max-width: 222px;
    margin-right: 0;
  }
  .team__card:nth-child(even) {
    padding-top: 0;
  }
}

.team__photo {
  margin-bottom: 1.2222222222rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768PX) {
  .team__photo {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .team__photo {
    display: none;
  }
}

.team__pic {
  max-width: 100%;
  display: block;
}

.team__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-family: "play";
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.6111111111rem;
  color: inherit;
  text-decoration: none;
}
.team__name::after {
  content: "";
  width: 9px;
  height: 7px;
  margin-left: 5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  background: url("../img/polygon.png");
}
.team__name--active::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media screen and (max-width: 768PX) {
  .team__name {
    font-size: 1.1666666667rem;
  }
}

.team__desc {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  will-change: max-height;
}
.team__desc--active {
  max-height: 100%;
}

.team__position {
  font-family: "play";
  color: #292929;
  margin-bottom: 0.2222222222rem;
}

.team__text {
  font-family: "play";
  color: #666666;
  line-height: normal;
}

.team__photo_hidden {
  display: none;
}
@media screen and (max-width: 768PX) {
  .team__photo_hidden {
    display: block;
  }
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal.fancybox-button {
  display: none;
}

.modal__container {
  background: #FFFFFF;
  padding: 35px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}

.video {
  background: #F8FAF9;
}

.video__title {
  font-family: "Play";
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-transform: uppercase;
}

.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 36.7777777778rem;
  height: 21.7222222222rem;
}
@media screen and (max-width: 768PX) {
  .video__wrapper {
    width: 33rem;
    height: 19.5rem;
  }
}
@media screen and (max-width: 480px) {
  .video__wrapper {
    width: 80%;
    height: 12.9444444444rem;
  }
}

.video__player {
  position: relative;
  width: 100%;
}

.video__player-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 82px;
  height: 118px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  background: transparent;
  border: none;
}

.video__btn-img {
  max-width: 100%;
  height: auto;
}

.video__player-img--active {
  opacity: 0;
}

#player {
  width: 100%;
  height: 100%;
  display: block;
}

.video__toolbar {
  width: 100%;
  height: 35px;
  background-color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1.1111111111rem;
}

.duration__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.duration__img {
  margin-right: 0.2222222222rem;
  cursor: pointer;
  height: 0;
  width: 0;
  border: 11px solid transparent;
  border-left-color: #ffffff;
  border-right-width: 0;
  background: transparent;
  outline: none;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.duration__img.active {
  border: 7px solid #ffffff;
  height: 20px;
  border-top: 0;
  border-bottom: 0;
  padding: 1px;
}

.duration__length-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.duration__length {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#E01F3D), color-stop(0%, #E01F3D), color-stop(0%, #626262));
  background: linear-gradient(90deg, #E01F3D 0%, #E01F3D 0%, #626262 0%);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
}

.duration__length--other {
  width: 58px;
  height: 4px;
}

.duration__length::-webkit-slider-runnable-track {
  color: #E01F3D;
  -webkit-appearance: none;
}

.duration__length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #E01F3D;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.duration__length::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #E01F3D;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  position: relative;
}
.sound:before {
  content: "";
  width: 29px;
  height: 3px;
  background-color: red;
  position: absolute;
  display: block;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(42deg);
          transform: translateY(-50%) rotate(42deg);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.sound.active:before {
  opacity: 1;
}

.sound__btn {
  border: 0;
  background: transparent;
  padding: 0;
}

.sound__mic {
  cursor: pointer;
  height: 20px;
  width: 36px;
}

.sound__volume {
  margin-left: 10px;
  margin-top: -5px;
}

.menu-section {
  position: relative;
  background: url("../img/japangirl.png") center center/cover no-repeat;
  color: #FFFFFF;
}

.main-title__white {
  font-family: "Play";
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 6.3888888889rem;
  left: 4.6666666667rem;
}

.menu__acco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .menu__acco {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__acco .menu__item.active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
  }
}

.menu__item-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .menu__item-product--active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
  }
}
.menu__item-product--active .menu__content-desc {
  opacity: 1;
}

.menu__button {
  color: inherit;
  min-width: 100px;
  background: center center/cover no-repeat;
  position: relative;
}
@media screen and (max-width: 480px) {
  .menu__button {
    min-width: 90px;
  }
}

.menu__button-text {
  position: absolute;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  left: 50%;
  bottom: 1.9444444444rem;
  font-size: 2rem;
  white-space: nowrap;
  font-family: "Alegreya Sans";
}

.menu__content {
  background: rgba(18, 19, 20, 0.8);
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.menu__content-desc {
  opacity: 0;
  line-height: 1.8;
  padding: 2.7222222222rem 1.3333333333rem;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}