.benefits-section__container {
  @include tablets {
    width: 98%;
  }

  @include phones {
    width: 95%;
  }
}

.benefit {
  text-align: center;
  align-items: center;

  @include tablets {
    padding: 0;
  }

  @include phones {
    display: flex;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(126px);
  height: rem(126px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;

  @include phones {
    margin-right: rem(12px);
    top: rem(13px);
  }
}
.benefit__icon {
  margin-left: rem(5px);
  width: rem(75px);
  height: rem(69px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__text{
  @include phones {
    padding-top: rem(16px)
  }
}

.benefit__desc {
  font-size: rem(16px);
  color: #666666;
  padding: 0 0%;

  @include phones {
    text-align: left;
  }
}

.benefit__title {
  font-size: rem(24px);
  font-weight: bold;
  margin-bottom: rem(7px);

  @include phones {
    text-align: left;
    margin-bottom: rem(4px);
  }
}