.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include phones {
    margin-bottom: rem(0px);
    padding: 0;
  }

  &::before {
    content: url('./img/decor1.svg');
    position: absolute;
    top: rem(57px);
    right: 0;
    transform: translateX(50%);

    @include phones {
      content: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}

