.button {
  display: inline-block;
  font-weight: bold;
  padding: rem(20px) rem(40px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;

  @include tablets {
    padding: rem(23px) rem(46px);
  }

  @include tablets {
    padding: rem(25px) rem(48px);
  }
}

.button--theme--red {
  background: #E01F3D;
  color: #FFFFFF;

  @include tablets {
    font-size: rem(16px);
    padding: rem(21px) rem(41px);
  }

  @include phones {
    font-size: rem(19px);
    padding: rem(21px) rem(36px);
  }

  &:hover {
    background:#CA1B36; 
  }
}

.button--theme--red--product {
  background: #E01F3D;
  color: #FFFFFF;

  @include phones {
    font-size: rem(16px);
    padding: rem(22px) rem(42px);
  }

  &:hover {
    background:#CA1B36; 
  }
}

.button--theme--red--form {
  margin-right: rem(2px);
  padding: rem(21px) rem(41px);
  background: #E01F3D;
  color: #FFFFFF; 

  &:hover {
    background:#CA1B36; 
  }

  @include tablets {
    font-size: rem(16px);
    padding: rem(21px) rem(41px);
    margin-right: rem(26px);
  }
}



.button--theme--transparent {
  padding-left: rem(2px);
  background: transparent;
  text-transform: none;
  color: #FFFFFF; 

  @include tablets {
    font-size: rem(16px);
    font-weight: normal;
  }

  &:hover {
    color: #E01F3D; 
  }
}


