.feature {
  display: flex;
}

.feature__icon {
  width: rem(45px);
  margin-right: rem(5px);
}

.feature__icon-elem {
  width: rem(40px);
  height: rem(40px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(89px);
}