.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0;
    max-width: 466px;
    margin: 0 auto; 
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(14px);

  @include tablets {
    margin-bottom: rem(14px);
  }

  @include phones {
    margin-bottom: rem(14px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  font-size: rem(14px);
  border-radius: rem(4px);
  width: 100%;
  border: none;
  padding: rem(14px) rem(12px);
  border: solid rem(3px) transparent;

  @include tablets {
    padding: rem(7px) rem(7px);
  }


  &--textarea {
    font-size: rem(14px);
    padding: rem(5px) rem(12px);
    height: rem(144px);
    resize: none;
    margin-bottom: rem(40px);

    @include tablets {
      height: rem(82px);
      margin-bottom: rem(20px);
    }
  }

  &:focus {
    border-color: #E01F3D;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;

  @include phones {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.form__buttons {
  margin-left: rem(-14px);
  margin-top: rem(28px);

  @include tablets {
    display: flex;
    justify-content: center;
    margin-left: rem(55px);
    margin-top: rem(20px);
  }
}