.menu-section {
  position: relative;
  background: url('../img/japangirl.png') center center / cover no-repeat;
  color: #FFFFFF;
}

.menu__acco {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.menu__item-product {
  display: flex;
}

.menu__button {
  color: inherit;
  min-width: 100px;
  background: center center / cover no-repeat;
  position: relative;

  @include phones {
    min-width: 90px;
  }
}

.menu__button-text {
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  bottom: rem(35px);
  font-size: rem(36px);
  white-space: nowrap;
  font-family: 'Alegreya Sans';
}

.menu__content {
  background: rgba(18, 19, 20, 0.8);
  width: 0;
  overflow: hidden;
  transition: max-width 0.3s linear;
}

.menu__content-desc {
  line-height: 1.8;
  padding: rem(49px) rem(24px);
  transition: opacity 0.3s linear;
  transition-delay: 0.3s;
}