.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(16px);
  margin-bottom: rem(19px);

  &--checkbox {
    .radio__visible {
      border-radius: rem(4px);
      margin-right: rem(10px);

      &:before {
        background: url("../img/checked.svg") center center no-repeat;
      }
    }
  }

  @include tablets {
    align-items: center;
    margin-right: rem(17px);
    margin-bottom: rem(24px);
  }

  @include phones{
    align-items: center;
    
  }
}

.radio__title {
  font-size: rem(16px);
  color: #FFFFFF;
}

.radio__elem {
  display: none;

  &:checked~.radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  margin-right: rem(10px);
  width: rem(25px);
  height: rem(25px);
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;

  &:before {
    content: '';
    width: rem(14px);
    height: rem(14px);
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}