.team__title {
  text-align: center;
  font-family: 'play';
  font-size: rem(48px);
  font-weight: bold;
  text-transform: uppercase;

  @include phones {
    font-size: rem(32px);
  }
}

.team__list {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  min-height: rem(426px);

  @include tablets {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: initial;
  }
}

.team__card {
  flex: 1;
  text-align: center;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    width: 100%;
    max-width: 222px;
    margin-right: 0;
    
    &:nth-child(even) {
      padding-top: 0;
    }
  }
}

.team__photo {
  margin-bottom: rem(22px);
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
    
  }
}

.team__pic {
  max-width: 100%;
  display: block;
}

.team__name{
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 font-family: 'play';
 font-weight: bold;
 font-size: rem(18px);
 margin-bottom: rem(11px);
 color: inherit;
 text-decoration: none;

 &::after {
   content: "";
   width: 9px;
   height: 7px;
   margin-left: 5px;
   transform: rotate(0deg);
   transition: transform 0.3s ease-out;
   background: url('../img/polygon.png');
 }

 @include tablets {
   font-size: rem(21px);
 }
}

.team__desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  will-change: max-height;
}

.team__position {
  font-family: 'play';
  margin-bottom: rem(4px);
}

.team__text {
  font-family: 'play';
  color: #666666;
  line-height: normal;
}

.team__photo_hidden {
  display: none;

  @include tablets {
    display: block;
  }
}