.order-section {
  background: url('../img/background-form.png') center center / cover no-repeat;
}

.form__title {
  font-family: 'play';
  color: #FFFFFF;
}

.section__title-order {
  color: #ffffff;
}

.form__title {
  margin-bottom: 6px;
}