.section {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 650px;
  display: flex;
}

.section__title {
  font-family: 'play';
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
}

.headline {
  text-align: center;
  margin-bottom: 62px;
}

.headline__title {
  margin-bottom: 25px;
}

.headline__subtitle {
  padding: 0 20%;
  font-family: 'play';
  font-size: 16px;
  color: #666666;
}

.benefit__desc {
  color: #666666;
  padding: 0 25%;
}



